// Custom Colormap
@import '~/assets/style/colormap.scss';

// Bootstrap
@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';

// ======================================= //
body {
    background-image: url('~assets/img/bg.svg');
    background-position: top;
    background-size: cover;
    padding-bottom: 30px;
}